.DS_store
.idea
*/env/*
sharding/data_gen/env/
fakedata/fake_users.csv
*/.ipynb_checkpoints/
db-replication/repl-compose/slave_1/data/*
db-replication/repl-compose/slave_2/data/*
db-replication/repl-compose/master/data/*
rabbit/rabbitmq-data
rabbit/rabbitmq-logs
