<html>

    <head>
        <title>
            Welcome
        </title>
    </head>
    <body>
        <h3>Welcome, {{.username}}</h3>
        <h3>User's profile:</h3>
        <h3>{{.name}} {{.second_name}}</h3>
        <h3>Sex: {{.sex}}</h3>
        <h3>City: {{.city}}</h3>
        <h3>Interests: {{.interests}}</h3>
        <br>
        <h3>Friends:</h3>
        <br>
        {{range $element := .urls}}
        <a href="/account/page/{{$element}}">...</a>
        <br>
        {{end}}

        {{if .add}}     <form action="/account/add_friend">
            <input type="hidden" value="{{.username}}" name="username">
            <input type="hidden" value="{{.session_user}}" name="user_session">
            <input type="submit" value="Add" />
        </form>
        {{end}}

        <a href="/account/logout">Logout</a>

    </body>

</html>