<html>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <title>
            Welcome
        </title>
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FakeNet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>
                <form method="post" action="/account/search" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_string">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


        <h3>Welcome, {{.username}}</h3>
        <h3>User's profile:</h3>
        <h3>{{.name}} {{.second_name}}</h3>
        <h3>Sex: {{.sex}}</h3>
        <h3>City: {{.city}}</h3>
        <h3>Interests: {{.interests}}</h3>
        <br>
        <h3>Friends:</h3>
        <br>
        {{range $element := .urls}}
        <a href="/account/page/{{$element}}">{{$element}}</a>
        <br>
        {{end}}

        {{if .add}}
        <form action="/account/add_friend">
            <input type="hidden" value="{{.username}}" name="username">
            <input type="hidden" value="{{.session_user}}" name="user_session">
            <input type="submit" value="Add" />
        </form>
        {{end}}

        <h3>Posts:</h3>
        {{if .add_post}}
        <form action="/account/add_post">
            <input type="hidden" value="{{.user_id}}" name="user_id">
            <input type="text" value=" " name="post_text" width="40" size="50">>
            <input type="submit" value="Post" />
        </form>
        {{end}}


        <a href="/account/logout" class="btn btn-secondary btn-lg" >Logout</a>

    </body>

</html>