<html>

    <head>
        <title>
            SignUp
        </title>
    </head>
    <body>



        <h3>SignUp</h3>
        {{.err}}
        <form method="post" action="/account/signup">
            Username <input type="text" name="username">
            <br>
            Password <input type="password" name="password">
            <br>
            First name <input type="text" name="name">
            <br>
            Second name <input type="text" name="second_name">
            <br>
            Sex <select name="sex">
                <option value="0">F</option>
                <option value="1">M</option>
            </select>
            <br>
            City <input type="text" name="city">
            <br>
            Interests <input type="text" name="interests" width="40" size="50">
            <br>
            <input type="submit" value="SignUp">
        </form>

    </body>

</html>